@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  // colors
  --primary: hsla(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: hsl(14, 100%, 50%);

  // fonts
  --primary-font: "Space Mono", monospace;
}

body {
  background-color: var(--light-grayish-cyan);
  font-family: var(--primary-font);
  font-size: 24px;
  color: var(--dark-grayish-cyan);
  position: relative;
}

.animated-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  animation: scaleCircle 6s linear infinite;
}

@keyframes scaleCircle {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.flex-container {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 40px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.input-section {
  padding: 20px 30px 0 30px;
  max-width: 100%;
}

.section-title {
  font-size: 16px;
  margin: 12px 0;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 18px;
  margin: 8px 0 32px 0;
}

.btn {
  display: inline-block;
  width: 115px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: var(--dark-cyan);
  color: var(--white);
  padding: 0;
  cursor: pointer;
  position: relative;
}

.btn.active {
  background-color: var(--light-grayish-cyan);
  color: var(--dark-cyan);
}

.input-btn {
  width: 100%;
  height: 100%;
  background-color: var(--very-light-grayish-cyan);
  color: var(--dark-cyan);
  text-align: center;
  margin: 0;
  border-radius: 9px;
  border: 2px solid var(--very-light-grayish-cyan);
  transition: border-color 0.2s;
}

.input-btn:focus {
  outline: none;
  border-color: var(--primary);
}

.bill-input,
.person-amout-input {
  position: relative;
}

.bill-input::after,
.person-amout-input::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  height: 24px;
  width: 30px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.bill-input::after {
  background-image: url(./../images/icon-dollar.svg);
}

.person-amout-input::after {
  background-image: url(./../images/icon-person.svg);
}

.input {
  background-color: var(--very-light-grayish-cyan);
  border: none;
  border-radius: 5px;
  width: 100%;
  color: var(--dark-cyan);
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  line-height: 20px;
  border: 2px solid var(--very-light-grayish-cyan);
  transition: border-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--primary);
}

input:invalid,
.input.show-error,
.input-btn.show-error,
.input-btn.show-error:focus,
.input.show-error:focus {
  border: 2px solid var(--error);
}

.error-text {
  position: absolute;
  top: -18px;
  right: 0;
  color: var(--error);
  white-space: nowrap;
  font-size: 16px;
  line-height: 18px;
}

.output-section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-cyan);
  padding: 24px 20px;
  margin: 32px 20px;
  border-radius: 20px;
}

.result-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.output-title {
  color: var(--white);
  font-size: 16px;
}

.output-title-person {
  font-size: 15px;
  color: var(--grayish-cyan);
}

.output-result {
  font-size: 25px;
  color: var(--primary);
}

.reset-btn {
  background-color: var(--primary);
  text-align: center;
  color: var(--dark-cyan);
  text-transform: uppercase;
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-btn.deactivated:hover,
.reset-btn.deactivated:active,
.reset-btn.deactivated {
  opacity: 0.2;
  cursor: default;
}

.reset-btn.deactivated:hover .reset-btn:hover {
  background-color: var(--light-grayish-cyan);
}
.reset-btn:active {
  background-color: var(--primary);
}

.attribution {
  text-align: center;
  font-size: 14px;
  color: var(--dark-grayish-cyan);
}

.attribution a {
  text-decoration: none;
  color: var(--dark-cyan);
}

@media screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 925px) {
  .container {
    width: 920px;
    flex-direction: row;
    border-radius: 30px;
  }
  .input-section {
    width: 50%;
    padding: 20px 30px;
    margin: 32px 0 32px 32px;
  }
  .output-section {
    width: 50%;
    margin: 32px;
  }
}
